<nav>
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}Dough Coding Exercise{{/link-to}}
    </div>

    <form class="search-box">
      {{input name='search' placeholder='Search' value=searchQuery}}
      <button {{action 'search' searchQuery}}>Search</button>
    </form>
  </div>
</nav>

<div class="main-content">
  <div class="container">
    {{outlet}}
  </div>
</div>