<div class="header">
  <h2 id="title">{{#link-to 'index'}}Dough Coding Exercise{{/link-to}}</h2>

  {{input name='search' placeholder='Search' value=searchQuery}}
  <button {{action 'search' searchQuery}}>Search</button>
</div>

{{outlet}}
